.partner {
  background: url(../images/partner-section-background.png);
  background-color: #fff;
  width: 100%;
  min-height: 470px;
  margin-top: 30px;
}

.partner_container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  align-items: center;
  height: 200px;
  place-items: center;

  img {
    width: 150px;
    margin-top: 0px;

    &:hover {
      transform: translateY(2px);
    }
  }
}

.clients_title {
  padding-top: 30px;
  margin-bottom: 30px;
}
.clients_title::after {
  width: 150px;
}

.mocit {
  width: 250px !important;
}

.ccil {
  width: 203px !important;
  height: 90px !important;
}

.aromalaya {
  width: 120px !important;
}

@media (max-width: 320px) {
  .partner {
    height: 620px;
    margin-top: 50px;

    .partner_container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 5px;

      img {
        width: 110px;
      }
    }
  }

  .clients_title {
    padding-top: 30px;
    font-size: 28px;
  }
  .clients_title::after {
    width: 117px;
  }

  .mocit {
    width: 146px !important;
  }

  .ccil {
    width: 119px !important;
    height: 90px !important;
  }

  .aromalaya {
    width: 120px !important;
  }
}

/*----------------------------------------------
------------PARTNER MEDIA QUERIES START------------
-------------------------------------------------*/

@media (min-width: 321px) and (max-width: 430px) {
  .partner {
    height: 760px;
    margin-top: 50px;

    .partner_container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 5px;

      img {
        width: 150px;
        margin-top: 22px;
      }
    }
  }
  .clients_title::after {
    width: 117px;
  }

  .mocit {
    width: 146px !important;
  }

  .ccil {
    width: 119px !important;
    height: 90px !important;
  }

  .aromalaya {
    width: 120px !important;
  }
}

@media (min-width: 431px) and (max-width: 768px) {
  .partner {
    height: 265px;
    margin-top: 50px;

    .partner_container {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 5px;

      img {
        width: 115px;
        margin-top: 22px;
      }
    }
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .partner {
    height: 280px;
    margin-top: 50px;

    .partner_container {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      gap: 5px;

      img {
        width: 125px;
        margin-top: 26px;
        margin-left: 30px;
      }
    }
  }
}
